{% extends "base.html" %}

{% block style %}
<style>
div.form-row { clear:both; }
div.form-col { float:left; }
div.col-name { width:100px; }
div.col-value{ width:100px; }
</style>
{% endblock %}

{% block content %}

<h1>Edit Gist</h1>
{% if form %}
<div id="form">
<form method="post" /> {% csrf_token %}
<div class="form-row">
    <div class="form-col col-name"><label for="id_filename">ファイル名</label></div>
    <div class="form-col cal-value">{{ form.filename }}</div>
</div>
<div class="form-row">
    <div class="form-col col-name"><label for="id_contents">ファイル内容</label></div>
    <div class="form-col col-value">{{ form.contents }}</div>
</div>
<div class="form-row">
    <div class="form-col col-name">&nbsp;</div>
    <div class="form-col col-value">
    <input type="submit" name="action" value="save" />
    </div>
</div>
<div class="form-row">
    <div class="form-col col-name">&nbsp;</div>
    <div class-"form-col col-value">
    <span>１ファイルしか対応していません。。。</span>
    </div>
</div>
</form>
</div>
{% endif %}

{% endblock %}
