<html lang="ja">
  <head>
    <meta charset="utf-8" />
    {% block style %}{% endblock %}
  </head>
  <body>
    <div id="social">
        <div>
        {% if request.user.is_authenticated  and github_user %}
            {{ request.user }} 
            <a href="{% url app_github_gist gid='' command='create'  %}">New Gist</a> 
            <a href="{% url app_github_logout %}">ログアウト</a>
        {% else %}
            <a href="{% url socialauth_begin backend='github' %}">Github</a>
        {% endif %}
        </div>
    </div>
    <div id="contents">
     {% block content %}
        <!-- something here -->
     {% endblock %}
    </div>
  </body>
</html>
