{% extends "base.html" %}

{% block content %}

<h1>Binding Your Social Identity</h1>

<a href="{% url socialauth_complete backend='github' %}" >{{ message }}
{% if user %}( {{user}} ) {% endif %}
</a>
<br/>
<a href="{% url app_github_logout %}">取り消し(ログオフ)</a> 

{% endblock %}
