{% extends "base.html" %}

{% block content %}

<h1>Binding Your Social Identity</h1>

{% if is_authenticated %}

<form method="post" action="{% url socialauth_complete backend='github' %}" >
  <input type="submit" name="bind" value="current" /> <br/>
  <input type="submit" name="bind" value="new" /> <br/>
  <hr/>
  username :<input type="text" name="username" /> <br/>
  password :<input type="password" name="password" /> <br/>
  <input type="submit" name="bind" value="other" /> <br/>
</form>
{% else %}
<form method="post" action="{% url socialauth_complete backend='github' %}" >
  <input type="submit" name="bind" value="new" /> <br/>
  <input type="submit" name="bind" value="other" /> <br/>
</form>

{% endif %}

{% endblock %}
